body {
    width: 34.375rem;
    height: 60.81rem;
}

/* Typography */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #f8f8f8;
    margin: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #b7b7b7;
    margin: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.125rem;
}

.header-icon {
    height: 2.125rem;
}

/* Dog Section */
main {
    background: linear-gradient(180deg, #ffffff 0%, #f6f7fb 100%);
}

#dog-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    background-image: url('images/dog-teddy.jpg');
    background-size: cover;
    width: 33.375rem;
    height: 47rem;
    border-radius: 13px;
}

#profile-info {
    margin: auto auto 1rem 1.25rem;
}

.profile-tagline {
    margin-top: 0.5rem;
}

/* Actions */
.actions {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 8.75rem;
}

.vote-button {
    display: flex;
    width: 5.75rem;
    height: 5.75rem;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 10px 20px #e9e9ea;
}

.vote-icon {
    margin: auto auto;
    height: 2.2rem;
}

#nope-button:hover {
    background-color: #ffe7ef;
    box-shadow: 0px 10px 20px #edd9df;
}

#like-button:hover {
    background-color: #dbfff4;
    box-shadow: 0px 10px 20px #ccf1e6;
}

/* Badge Section */
#badge {
    margin: 3.5rem 1.1rem;
}

.badge {
    width: 14.6rem;
    transform: rotate(-30deg);
}

.hidden {
    display: none;
}
