body {
    width: 34.375rem;
    height: 60.81rem;
}

/* Typography */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #f8f8f8;
    margin: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #b7b7b7;
    margin: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.125rem;
}

.header-icon {
    height: 2.125rem;
}

/* Dog Image */
main {
    background: linear-gradient(180deg, #ffffff 0%, #f6f7fb 100%);
}

.dog-image {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 auto;
    background-image: url('images/dog-teddy.jpg');
    background-size: cover;
    width: 33.375rem;
    height: 47rem;
    border-radius: 13px;
}

.profile-name,
.profile-tagline {
    margin-left: 0.75rem;
}

.profile-tagline {
    margin-bottom: 1rem;
}

.profile-name {
    margin-bottom: 0.5rem;
}

/* Like Options */
.like-options {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 8.75rem;
}

.vote-circle {
    display: flex;
    width: 5.75rem;
    height: 5.75rem;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 10px 20px #e9e9ea;
}

.vote-icon {
    margin: auto auto;
    height: 2.2rem;
}

/* .nope-icon {
    width: 1.7rem;
    height: 1.7rem;
}

.like-icon {
    width: 2.3rem;
    height: 2.03rem;
} */

.nope-circle:hover {
    background-color: #ffe7ef;
    box-shadow: 0px 10px 20px #edd9df;
}

.like-circle:hover {
    background-color: #dbfff4;
    box-shadow: 0px 10px 20px #ccf1e6;
}
